extend ../layouts/main

block content
	include ../partials/header

	.content.js-scroll-page
		section.section.section_1.js-section#intro&attributes({'data-nav-tooltip':'Начало'})
			.section__bg.section__bg_1
			.logo-intro&attributes({"data-parallax":"0.7", "data-parallax-param":'marginTop'})

		section.section.section_2.js-section#about&attributes({'data-nav-tooltip':'Мы вам понравимся'})
			.section__bg.section__bg_2
			.section__content
				.container
					.section__title-wrap
						h2.section__title Интернет-маркетинг — наша стихия

					include ../partials/about


		section.section.section_3.js-section#works&attributes({'data-nav-tooltip':'Клиенты довольны'})
			.section__bg.section__bg_3
			.section__content
				.container
					.section__title-wrap
						h2.section__title Сайт для бизнеса и души

		section.section.section_4.js-section#conveer&attributes({'data-nav-tooltip':'Одноообразие - боль'})
			.section__bg.section__bg_4
			.section__content.section_valign-bot.section__content_full-h
				.container
					.section__quote
						.section__quote-content
							h2.section__title У нас нет конвеера
							p.section__quote-noimportant Мы рассматриваем сайт, как мощный маркетинговый инструмент, в основе которого лежит идея. Именно идея делает каждый проект уникальным и интересным, вызывая эмоции у потенциальных клиентов.
							p Мы не признаем шаблонных решений. Любой, даже небольшой проект мы делаем уникальным и креативным.

		section.section.section_5.js-section#about-tab&attributes({'data-nav-tooltip':'Удивляем'})
			.section__bg.section__bg_5
			.section__content.section__content_full-h
				.section__title-wrap
					.container
						h2.section__title The jazz это:

				include ../partials/about-tab

		section.section.section_6.js-section#request&attributes({'data-nav-tooltip':'Всегда на связи'})
			.section__bg.section__bg_6
			.section__content.section__content_full-h.section__content_flex-center.section__content_request
				include ../partials/form


	.preloader
		.preloader__percent 0%



block popup
