*, *:before, *:after
	box-sizing: border-box
html
body
	height 100%
	width 100%
	font-family $base-ff
	font-size $base-fs
	color $base-fc

body
	-webkit-font-smoothing antialiased

a
	color $color-link

	&:hover
		text-decoration: none

p
	margin-bottom 20px
	line-height $base-lh

h1,h2,h3,h4
	font-weight: normal

li

	/*&:before
		content ''
		position absolute
		width 5px
		height 5px
		background-color $color-second
		top 9px
		left 0
		border-radius 50%*/
