$risreto       = "ristretto_slab_pro_regular", Arial, Helvetica, sans-serif
$ff-title = $risreto

$base-ff = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif

$base-fs = 14px
$base-fc = #fff
$base-fc-dark = #212121
$base-lh = 1.5

$color-main = #0185a7
$color-second = #f3b114
$color-second-hover = #f3cc14

$color-blue = #50b5fc
$color-main-dark = #005f90
$color-red = #ed1c24
$color-green = #76b43f
$color-yellow = #ffe400
$color-orange = #dfbc30
$color-grey = #6d6f72
$color-grey-light = lighten($color-grey, 60%)




$color-link = $base-fc
$color-link-hover = $color-second

$input-bg = #2c2c2c
$input-border = #d2d7d9
$input-border-succes = $color-green
$input-border-error = $color-red
$input-error = $color-red
$input-color = #d2d7d9
//Font size

$fsH1 = 50px
$fsH2 = 42px
$fsH3 = 30px
$fsH4 = 21px
$fsH5 = 16px

//color-menu
$content-container = 480px
//z-index
