.onepage-pagination
    pos-center-h()
    position: fixed
    right 10px
    display inline-block
    width 30px
    z-index: 100
    user-select none
    &__tooltip
        position: absolute;
        right 100%
        width: 200px
        text-align: right;
        pos-center-h()
        transition: all 0.3s ease-in-out
        visibility: hidden;
        opacity: 0
        margin-right 0px

    & li
        position: relative;
        & a
            width 14px
            height @width
            border-radius: 50%
            background-color #d2d7d9
            margin 10px auto
            opacity: 0.5
            transition all 0.3s ease-in-out
            display block
            padding 0
            outline none
            &:hover
                opacity: 0.8
                &+^[0]__tooltip
                    visibility: visible;
                    opacity: 1
                    margin-right 10px
                    +below($laptop-h)
                        display none

            &:before
                display none

            &.active
                opacity: 1
                width 20px
                height 20px
+below($laptop-h)
    .onepage-pagination
        right 0
        & li
            & a
                width 4px
                height @width
                margin 8px auto

                &.active
                    width 8px
                    height 8px
