.onepage-pagination
    pos-center-h()
    position: fixed
    right 10px
    display inline-block
    width 30px
    z-index: 100
    user-select none
    & li
        & a
            width 14px
            height @width
            border-radius: 50%
            background-color #d2d7d9
            margin 10px auto
            opacity: 0.5
            transition all 0.3s ease-in-out
            display block
            padding 0
            outline none

            &:before
                display none

            &.active
                opacity: 1
                width 20px
                height 20px
