.input
    position: relative
    &__text
        font-size: 14px
        padding 0.5em 1em 1em
        background-color transparent
        border none
        border-bottom 1px solid rgba($input-border, 0.25)
        outline none
        color $input-color
        transition all 0.2s linear
        width: 100%
        padding-left 30px

        &:hover
            border-color rgba($input-border, 0.4)

        &:focus
            outline none
            border-color rgba($input-border, 0.6)

    &__label
        font-size: 16px
        margin-bottom 8px
        &_required
            &:after
                content '*'
                display inline-block
                color $color-red
                position: relative
                margin-left 3px
                top -2px
        &_user,
        &_phone
            position: relative
            &:before
                content ''
                display block
                width 16px
                height 20px
                position: absolute
                left 0
                top -2px
                background-position: center
                background-repeat: no-repeat
        &_user
            &:before
                background-image url(../images/input-user.png)
        &_phone
            &:before
                background-image url(../images/input-phone.png)

    &__error
        display: none
        position: absolute
        bottom -17px
        color: $input-error
        &_rel
            bottom 0
            position: relative
            margin-top 10px

    //Status input wrapper
    &.succes
        & ^[0]__text
            border-color rgba($input-border-succes, 0.6)
            &:hover
                border-color rgba($input-border-succes, 0.6)

    &.error
        & ^[0]__text
            border-color rgba($input-border-error, 0.8)
            &:hover
                border-color  rgba($input-border-error, 0.9)
            &:focus
                border-color rgba($input-border-error, 1)
                background-color: transparent
