-
	var data = [
		{
			"title": 'Работа от концепции',
			'desc': 'На этапе маркетинговых исследований по проекту, Мы проводим анализ целей и задач, аудит существующих у Вас проектов, исследование Вашей отрасли в Интернете и потребностей целевой аудитории.',
			'color':'green'
		},
		{
			"title": 'Замечательные цены',
			'desc': 'Процесс формирования стоимости базируется на прозрачных и понятных принципах. Цены на услуги отображаются в подробных сметах. В вопросах ценообразования Мы способны идти на компромисс.',
			'color':'blue'
		},
		{
			"title": 'Честность и прозрачность',
			'desc': 'При заказе услуги клиент персонально от своего менеджера получает полную информацию об особенностях дизайна, основах функционирования ресурсов, используемых технологиях.',
			'color':'orange'
		}
	]

.about-tab.js-about-tab
	.container
		.about-tab__controls
			each item, i in data
				.about-tab__controls-item.js-about-tab__control(class=['about-tab__controls-item_' + item.color, i==0?'active':''])&attributes({'data-tab': i+1})=i+1

		.row.about-tab__container
			each item, i in data
				.about-tab__item(class=['about-tab__item_' + item.color, i==0?'active':'']).js-about-tab__content&attributes({'data-tab': i+1})
					.container-content
						.about-tab__item-count=i+1
						h3.about-tab__item-title=item.title
						p.about-tab__item-desc=item.desc
