.about
    .row
        img.about__img(src="./assets/images/graph.png")
    .row
        .col_4.about__item
            .container-content
                h3.about__item-title.h-color_green Контекстная реклама
                p.about__item-desc Яндекс Директ и Google Adwords позволяют максимально быстро донести информацию о продукции или услугах Вашей компании.
                a(href="#").button.button_link.button_green.about__button Узнать больше
        .col_4.about__item
            .container-content
                h3.about__item-title.h-color_blue Продвижение сайтов
                p.about__item-desc Главные достоинства поискового продвижения сайта — стабильный поток посетителей из поисковых систем Яндекс и Google по целевым запросам, огромная выгода для вас и долгосрочный результат.
                a(href="#").button.button_link.button_blue.about__button Узнать больше
        .col_4.about__item
            .container-content
                h3.about__item-title.h-color_orange Копирайтинг
                p.about__item-desc Копирайтинг — написание цепляющих статей для сайта или бизнеса, главная цель которых является увеличение продаж.
                a(href="#").button.button_link.button_orange.about__button Узнать больше
