footer.footer
    .container
        .footer__container
            .footer__col
                span.h-color_second ©
                | &nbsp;De-box — монтаж электрощитов, 2008-2016
            .footer__col
                a(href="#") Создание
                | &nbsp; и &nbsp;
                a(href="#") продвижение
                | &nbsp; &mdash; The jazz
