.form
    .form__container
        .form__branch
        .form__content
            h2.form__title Отвечаем на вопросы
            P.form__desc Мы всегда открыты к общению. Консультация бесплатна и ни к чему вас не обяжет.

            form.form__form.js-valid-form(action='#')
                .form__row
                    .input.js-valid-form__item
                        label.input__label.input__label_user(for='id-input-request-name')
                        input.input__text(type='text', placeholder='Ваше имя', id='id-input-request-name')
                        .input__error.js-valid-form__error Не введено имя
                .form__row
                    .input.js-valid-form__item
                        label.input__label.input__label_phone(for='id-input-request-phone')
                        input.input__text.js-mask-phone(type='text', placeholder='Номер телефона', id='id-input-request-phone')
                        .input__error.js-valid-form__error Не введен номер телефона
                .form__row.form__row_submit
                    button.button.form__button.js-valid-form__button(type='submit') Позвоните мне
