nav.menu
    .menu__button.js-menu-button
    .menu__items.js-menu-items
        each item in ['об агентстве','Наши работы','Продвижение сайтов','Контекстная реклама','Контакты']
            .menu__item
                a(href="#").menu__item-link=item
