.popup.popup_form#popup-message-succes
    .popup__close.js-popup__close

    .popup__title-block
        .popup__content
            .popup__title-text Сообщение успешно отправлено

    .popup__content-bottom
