.tabs.js-tabs
    ul.tabs__control
        each val,i in ['ВРУ', 'АВР', 'ШР','ЯУО','ШУ','ШК']
            li.tabs__control-item.js-tabs__control(class=(i==0 ? "active":""), data-tab=i)
                span.tabs__control-item-text=val

    .tabs__content
        each val,i in ['Вводно-распределительное устройство', 'АВР', 'ШР','ЯУО','ШУ','ШК']
            .tabs__content-item.js-tabs__content(class=(i==0 ? "active":""),data-tab=i)
                if i==1
                    img.tabs__content-img(src='assets/images/pic-present-1.jpg')
                else
                    img.tabs__content-img(src='assets/images/img-vru.png')
                h3.tabs__content-title=val

                div.tabs__content-scroll-block-wrapper.js-custom-scroll.scrollbar-outer
                    .tabs__content-scroll-block-desc
                        each i in [1,2]
                            p
                                |ВРУ — устройство (электрощит), предназначенное для приёма,
                                | распределения, резервирования и учёта электрической энергии,
                                | устанавливаемое в жилых и общественных зданиях, а также промышленных
                                | производственных помещениях.

                .tabs__content-call
                    .tabs__content-call-icon
                        .icon.icon_wire
                    .tabs__content-call-text
                        |Закажите ВРУ сейчас и получите демонтаж старого оборудования и установку нового в подарок!
