stitches-($x = 0, $y = 0, $width = 0, $height = 0)
    &:before
        background-position $x $y
        width $width
        height $height


.icon
    display inline-block
    vertical-align: middle
    &:before
        content ''
        background-image: url(../images/sprite-icon.png)
        background-repeat: no-repeat
        display: block

    &_check
        stitches-(-15px, -15px, 27px, 27px)
    &_lock
        stitches-(-72px, -15px, 22px, 28px)
    &_mouse
        stitches-(-124px, -15px, 20px, 30px)
    &_phone
        stitches-(-174px, -15px, 14px, 14px)
    &_price
        stitches-(-218px, -15px, 28px, 24px)
    &_quotes-down
        stitches-(-276px, -15px, 18px, 13px)
    &_quotes-up
        stitches-(-324px, -15px, 25px, 20px)
    &_zoom
        stitches-(-379px, -15px, 16px, 16px)
    &_sheld
        stitches-(-425px, -15px, 28px, 32px)
    &_user
        stitches-(-483px, -15px, 28px, 28px)
    &_wet
        stitches-(-541px, -15px, 22px, 24px)
    &_wire
        stitches-(-593px, -15px, 34px, 32px)
