.about-tab
    text-align center
    pos-center()
    width 100%

    &__container
        display flex
        align-items: stretch

    &__item
        column(4/12)
        border 1px solid #fff
        padding 35px 30px
        min-height: 360px

    &__item-desc
        margin-bottom 0

    &__item-title
        font-size: $fsH4
        text-transform: uppercase;
        margin-bottom 16px
        font-weight: normal
        line-height: 1.2

    &__item-count,
    &__controls-item
        display inline-block
        font-size 50px
        font-family: $ff-title
        font-weight: bold;
        line-height: 60px
        border-radius: 50%
        width 60px
        height 60px
        border 1px solid #fff
        margin-bottom 30px

    &__controls-item
        display none
        margin-right: 20px
        cursor pointer
        &:last-child
            margin-right 0

    for $i in ( ('green' $color-green ) ('blue' $color-blue) ('orange' $color-orange) )
        &__item_{$i[0]}
            border-color rgba($i[1], 0.5)
            & ^[0]__item-count
                border-color rgba($i[1], 0.5)
            & ^[0]__item-title
                color $i[1]

        &__controls-item_{$i[0]}
            border-color rgba($i[1], 0.5)
            &.active
                background-color: rgba($i[1], 0.5)
                border-color transparent

+below($notebook)
    .about-tab
        &__item
            border-color transparent
            padding 0
            min-height: auto

+below-h($notebook-h)
    .about-tab
        &__item
            border-color transparent
            padding 0
            min-height: auto

+below($laptop)
    .about-tab
        &__container
            display block
        &__item
            stack()
            margin-bottom: 60px

+below($laptop + 1)
    +above-h($laptop-h)
        .about-tab
            &__container
                display block
            &__item
                stack()
                margin-bottom: 60px

+between($mobile-h - 1, $laptop)
    +between-h($laptop - 1, $laptop-h)
        .about-tab
            pos-norm()
            &__container
                display block
            &__item
                stack()
                margin-bottom: 30px
            &__item-count
                width 40px
                height 40px
                line-height: 38px
                font-size: 28px
                margin-bottom: 10px
            &__item-title
                margin-bottom 10px

+between($mobile, $mobile-h - 1)
    .about-tab
        &__controls-item
            display inline-block
        &__item
            display none
            &.active
                display block
        &__item-count
            display none

+between($mobile, $mobile + 1)
    +between-h($mobile-h, $mobile-h  + 1)
        .about-tab
            pos-norm()
            margin-top 50px

+below-h($mobile-h - 1)
    +below($laptop - 1)
        .about-tab
            pos-norm()
            &__controls-item
                display inline-block
            &__item
                display none
                &.active
                    display block
            &__item-count
                display none

+between($mobile-h, $mobile-h + 1)
    +between-h($mobile, $mobile + 1)
        .about-tab
            &__item-desc
                display none

+below-h($mobile)
    +below($mobile-h)
        .about-tab
            &__item-desc
                display none
