transition()
    transition: all 0.3s linear
.tabs

    cf()
    position: relative

    &__control
        padding 70px 0 70px 100px
        background-color $color-main-dark
        background-image url(../images/bg-rounded.png)
        background-size cover
        float: left
        width calc(50%+50px)

    &__control-item
        background-color: transparent
        padding: 0 15px
        padding-left 50px
        transition: all 0.3s linear
        height 50px
        line-height: 1
        cursor: pointer
        position: relative
        border-radius: 25px 0 0 25px
        &:after
            opacity: 0
            transition()
        &:after
            content ''
            position: absolute
            left 12px
            top 0
            height 50px
            width 28px
            background url(../images/tabs-icon.png) no-repeat center

        &-text
            border-bottom 1px dotted rgba(#fff, 0.5)
            color #fff
            font-family: $magistralbold
            font-size: $fsH4
            cursor: pointer
            line-height: 50px
            transition()
        &:hover
            background-color: rgba($color-main, 0.7)
            & ^[-1]-text
                border-bottom-color: transparent

        &.active
            background-color: $color-main
            &:after
                opacity 1
            & ^[-1]-text
                border-bottom-color: transparent

    &__content
        width calc(50% - 50px)
        float: left
        padding 20px 0 30px 100px

    &__content-item
        display: none
        &.active
            display: block

    &__content-title
        margin-bottom: 40px
        color $color-main

    &__content-img
        position: absolute
        max-width: 400px
        left 220px
        top 45px

    &__content-scroll-block-wrapper
        max-height 215px
        margin-bottom: 30px

    &__content-scroll-block-desc
        padding-right: 75px
        & p
            line-height: 30px

    &__content-call
        flex-center()

    &__content-call-icon
        height 60px
        width 60px
        padding: 13px
        border-radius: 50%
        border 2px solid #e3e3e3
        margin-right: 20px
        flex-center()
        flex 1 1 56px

    &__content-call-text
        line-height: 30px
        flex 1 1 100%
