.carousel
    position: absolute
    height 100%
    width 100%
    z-index: 1
    top 0

    &__owl
        height 100%
        width 100%
        position: relative;
        z-index: 1

    &__item-content
        max-width: 920px
        padding 0 30px 120px
        text-align: center;
        position: relative;
        z-index: 2

    &__item
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height 100%
        width 100%

    &__item-title
        font-size: $fsH4
        text-transform: uppercase;
        margin-bottom: 15px

    &__item-desc
        line-height: $base-lh
        margin-bottom: 25px

    &__item-img
        position: absolute;
        width 100%
        height 100%
        background-position center
        background-repeat: no-repeat
        position absolute
        z-index: 0;
        background-size: cover
        &:after,&:before
            content: ''
            position: absolute
            height 35%
            width 100%
            left 0
            z-index: 1
        &:before
            top 0
            background-image: linear-gradient(to bottom, rgba(#000, 0.25), transparent)
        &:after
            bottom 0
            background-image: linear-gradient(to top, rgba(#000, 0.75) 0%, rgba(#000, 0.5) 50%, transparent 100%)


    &__control
        position: absolute
        width 50px
        height 50px
        border-radius: 50%
        cursor: pointer
        transition background-color 0.3s
        user-select none
        background-color: rgba(#000, 0.5);
        pos-center()
        z-index: 1
        &:before
            content ''
            position: absolute
            pos-center()
            width: image-size('assets/carousel-control.png')[0]
            height image-size('assets/carousel-control.png')[1]
            background url(../images/carousel-control.png) no-repeat
            background-position: center
        &_prev
            margin-left -592px
        &_next
            margin-left 592px
            &:before
                transform translate(-50%, -50%) rotateZ(180deg)
        &:hover
            background-color: rgba(#000, 0.8)


+below($notebook)
    .carousel
        &__item-content
            padding-bottom 60px
        &__control
            &_prev
                margin-left -460px
            &_next
                margin-left 460px

+below($laptop-h)
    .carousel
        &__control
            pos-center-h()
            &_prev
                margin-left 0
                left 30px
            &_next
                margin-left 0
                right 30px
                left auto
        &__item-content
            max-width: 720px

+below($laptop-h)
    .carousel
        &__item-content
            max-width: 510px

+below($laptop - 1)
    .carousel
        &__item-content
            padding-bottom 30px
        &__item-desc
            display none
