.carousel
    position: relative

    &__control
        position: absolute
        width 80px
        height 40px
        border-radius: 20px
        border 2px solid $color-main
        cursor: pointer
        transition background-color 0.3s
        user-select none
        &:before
            content ''
            position: absolute
            pos-center()
            width: 5px
            height 8px
            background url(../images/carousel-control.png) no-repeat
            background-position: center top
        &_next
            &:before
                transform translate(-50%, -50%) rotateZ(180deg)
        &:hover
            background-color: $color-main
            &:before
                background-position: center bottom

    &_work
        padding 0px 100px
        margin-bottom 60px
        & ^[0]__control
            pos-center-h()
            &_next
                right 0
            &_prev
                left 0
    &_firms
        & ^[0]__control
            position: relative;
            display inline-block
            left calc(50% - 100px)
            margin 10px
