.logo
    display: inline-block
    width 64px
    height 40px
    background url(../images/logo@1x.png) no-repeat center

.logo-intro
    pos-center()
    display: inline-block
    width 300px
    height @width
    border-radius: 50%
    background url(../images/logo-intro@1x.png) no-repeat center
    background-color rgba(#000, 0.5)
    background-size: 100%
    z-index 1

+below($notebook)
    .logo-intro
        width 200px
        height @width

+below($laptop - 1)
    .logo-intro
        width 150px
        height @width
