imgSize(src)
    width image-size(src)[0]
    height image-size(src)[1]

.logo
    display: inline-block
    width 64px
    height 40px
    background url(../images/logo@1x.png) no-repeat center

.logo-intro
    pos-center()
    display: inline-block
    width 300px
    height @width
    border-radius: 50%
    background url(../images/logo-intro@1x.png) no-repeat center
    background-color rgba(#000, 0.5)
    z-index 1
