.intro
    text-align: center
    position: relative;
    margin-top: 150px
    color #fff
    width 100%

    &__title
        font-size 80px
        line-height: 1
        font-family: $magistralbold

    &__line
        position relative
        height 20px
        background url(../images/intro-line.png) no-repeat center;
        width 100%
        margin 15px 0

    &__desc
        font-size 24px
        font-family: $magistralbold

    &__text
        font-size $fsH4

    &_error
        position: relative
        top 0
        left 0
        transform: none
        & ^[0]__desc
            font-size: 36px
            font-family $magistral
        & ^[0]__title
            font-size: 100px
            margin-bottom: 30px
            background url(../images/intro-line-both.png) no-repeat center;
