$formBgColor1 = #48433d
$formBgColor2 = #686561
.form
    padding 0 30px
    &__row
        margin-bottom: 20px
        &_submit
            margin-top 40px
            margin-bottom: 0px

    &__container
        position: relative
        width 100%
        margin 0 auto
        max-width: 400px

    &__content
        position: relative
        width 100%
        padding 30px
        background-color $formBgColor1
        background-image: linear-gradient(110deg, $formBgColor1 0%,$formBgColor2 50%,$formBgColor1 100%)
        box-shadow: 0px 5px 15px 0px rgba(#000, 0.33)
        z-index: 2

    &__title
        font-size: $fsH2
        font-family: $ff-title
        text-transform: uppercase
        text-shadow: 0px 1px 4px rgba(#000, 0.75)
        text-align: center;
        margin-bottom: 20px

    &__desc
        text-align: center;

    &__button
        width 100%

    &__branch
        position: absolute
        width 282px
        height 244px
        background url(../images/form-branch.png) no-repeat
        background-size 100%
        top -55px
        left -85px
        z-index: 1
